@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&family=PT+Serif&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #e8d9b6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  border: 1px solid #ebca7b;
  text-transform: uppercase;
  color: #ffff;
  background-color:transparent;
}
button:hover{
  color: #000;
  background-color: #ebca7b;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: #191919;
  }
  body {
    color: white;
    background: #191919;
  }
}
