@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply dark:bg-black dark:text-white
  }
}

.contactPage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}